[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "itcSegment"]
	path = itcSegment
	url = https://github.com/cran/itcSegment
[submodule "varSel"]
	path = varSel
	url = https://github.com/cran/varSel
